@page "/args"
<h3>Component1</h3>
<button @onclick="hannes" ></button>
<div @onmouseover="hannes2" ></div>
<ul>
    <li @key="1">dgdfg</li>
    <li>dgdfg</li>
</ul>
@code {
    void hannes(MouseEventArgs e) //nicht machen
    {

    }
    void hannes2(MouseEventArgs e)
        {

        }
}
