@page
<script>
    alert("hallo Welt");
    document.title = "Hallo Welt";
    document.getElementById("eins").innerHTML = "test";
</script>
<div id="eins"></div>
@model BlazorSchramberg.Pages.modul8.jstestModel
@{
}
